@import url('https://fonts.googleapis.com/css?family=Asap:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1a1a1a;
}
header {
    background: white;
    padding: 20px;
}

header > h1 {
    color: #24272E ;
    text-align: center;
    font-family: 'Asap',sans-serif;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    text-align: center;
    border-radius: 4px;
    padding: 15px 20px;
    width: 200px;
    color: white;
    font-size: 40px;
    font-family: 'Asap', sans-serif;
    position: relative;    
}


.badge{
    background: #E2584D;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: 'Asap' ,sans-serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

.result {
    font-size: 40px;
    color: white;
}

.result > p {
    text-align: center;
    font-weight: bold;
    font-family: 'Asap', sans-serif;
}

.choices{
    text-align: center;
    margin-top: 25px;
}

.choice {
    border: 6px solid white;
    margin: 0 20px;
    padding: 3px;
    display: inline-block;
}

.choice:hover {
    cursor: pointer;
    background: #24272E;
}

#action-message {
    margin-top: 35px;
    text-align: center;
    color: white;
    font-family: 'Asap',sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.green-glow {
    border: 4px solid #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
}

.red-glow {
    border: 4px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
}

.grey-glow {
    border: 4px solid #464647;
    box-shadow: 0 0 10px #25292b;
}
